<div>
  <mat-toolbar color="primary">
    {{title}}
  </mat-toolbar>

  <div class="main">

    <nav>
      <button mat-raised-button color="primary" routerLink="/ea1">EA1</button>
      <button mat-raised-button color="primary" routerLink="/ea2">EA2</button>
    </nav>

    <mat-card>
      <mat-card-content>
        <router-outlet></router-outlet>
      </mat-card-content>
    </mat-card>


    <div class="footer">Berlin 2018 - Robert Neujahr - Beuth Hochschule für Technik Berlin</div>


  </div>


</div>
