/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.flex-children {
  >* {
    flex: 1;
    box-sizing: border-box;
    margin: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  router-outlet {
    display: none;
  }
}
